/* Toàn bộ layout chính */
.app-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #e9f3ff, #f5fbff);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Sidebar bên trái */
.content-navigation {
  width: 250px;
  background: linear-gradient(180deg, #ffffff, #ffffff);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #3f94f5;
  text-align: center;
}

.content-header {
  background: linear-gradient(180deg, #2482e0, #2147f3);
  text-align: center;
  padding: 20px 15px;

}
/* Tiêu đề phần header */
.content-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.content-header p {
  font-size: 13px;
  margin: 5px 0 15px 0;
  color: #dce9ff;
  border-bottom: 2px solid rgb(94, 150, 233);
  padding-bottom: 10px;
}

.menu-page {
  flex: 1;
  text-align: left;
}

.menu-page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-page li {
  margin: 8px 0;
  padding: 10px 15px;
}

.menu-page a {
  display: block;
  text-decoration: none;
  color: #001d57; /* xanh đậm */
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.menu-page a:hover {
  background-color: #007bff; /* xanh nền */
  color: white; /* chữ trắng */
}

.app-content {
  flex: 1;
  width: 100%;
  background-color: #e8f7ff;
}
